

html {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #EDFED8;
}

nav {
	padding: 2em;
	float: right;
	background-color: #FFD1DC;
	border-radius: 6px;
	border: 1px solid black;
}

form.login {
	border: 1px solid black;
	display: inline-block;
	height: fit-content;
	padding: 1em;
	margin: 30px;
	border-spacing: 0;
	background-color: #FFD1DC;
	border-radius: 6px;
}

nav h1 {
	margin: 0;
	padding: 0;
	display: block;
	border-bottom: 1px solid black;
}

input {
	display: block;
	margin: 1em;
}

canvas {
	border: 1px solid black;
	margin: 0;
	padding: 0;
	background-color: white;
}

div.error {
	color: darkred;
	font-size: smaller;
}

div.container img {
	position: relative;
	display:block;
	margin: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: auto;
}

div.container {
	display: inline-block;
	height: fit-content;
	padding: 1em;
	padding-left: 0;
	margin: 30px;
	border-spacing: 0;
	background-color: #FFD1DC;
	border-radius: 6px;
	border: 1px solid black;
}

form.savebox {
	position: absolute;
	border: 1px solid black;
	border-radius: 6px;
	background-color: #9EEEEE;
	padding: 0.2em;
}

form.savebox input {
	padding: none;
	border-spacing: 0;
	border: 1px solid black;
	box-sizing: border-box;
}

div.container div.tools {
	float: left;
	display: block;
	width: 2.5em;
}

div.tools button#color {
	position: relative;
	display:block;
	margin: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: auto;
	width: 24px;
	height: 24px;
	border: 1px outset black;
}

table.palette {
	border-spacing: 0;
	padding: 0;
	margin: 0;
	border: 1px solid black;
	position: absolute;
}

table.palette tr {
	padding: 0;
	margin: 0;
}

table.palette td {
	padding: 0;
	margin: 0;
	width: 10px;
	height: 10px;
}

table.display-table {
	border-spacing: 0;
	padding: 0;
	margin: 0;
	border: 0px solid black;
}

table.display-table tr {
	padding: 0;
	margin: 0;
}

table.display-table td {
	padding: 0;
	margin: 0;
	width: 5px;
	height: 5px;
}

div.picture {
	padding: 1em;
	margin: 1em;
}

div.picture h4 {
	display: block;
	border-bottom: 1px solid black;
}