

html {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #EDFED8;
	font-weight: bold;
}

nav {
	float: right;
	background-color: #FFD1DC;
	border-radius: 6px;
	border: 1px solid black;
}

nav span {
	margin: 1em;
}

img {
	image-rendering: pixelated;
}

nav button {
	font-weight: bold;
	padding: 1em;
	margin: 1em;
	border: 1px solid black;
	border-radius: 6px;
}

div.form-container {
	position: absolute;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 1em;
	border: 1px solid black;
	display: inline-block;
	height: fit-content;
	border-spacing: 0;
	background-color: #FFD1DC;
	border-radius: 6px;
}

div.form-container div.title {
	display: block;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: #baf0f0;
	border-bottom: 1px solid black;
	margin: 0;
	padding: 1em;
}

h1 {
	display: inline;
	font-weight: lighter;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 0.5em;
}

div.form-container div.title small {
	display: block;
	margin: 0;
	padding: 0;
}

div.form-container form {
	padding: 1em;
}

input {
	display: block;
	margin: 1em;
}

canvas {
	border: 1px solid black;
	margin: 0;
	padding: 0;
	background-color: white;
}

form.login div.error {
	color: darkred;
	font-size: smaller;
	padding: 0;
	margin: 0;
}

div.container img {
	position: relative;
	display:block;
	margin: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: auto;
}

div.container {
	display: inline-block;
	height: fit-content;
	padding: 1em;
	margin: 1em;
	padding-left: 0;
	border-spacing: 0;
	background-color: #FFD1DC;
	border-radius: 6px;
	border: 1px solid black;
}

form.savebox {
	position: absolute;
	border: 1px solid black;
	border-radius: 6px;
	background-color: #9EEEEE;
	padding: 0.2em;
}

input {
	padding: none;
	border-spacing: 0;
	border: 1px solid black;
	box-sizing: border-box;
}

div.container div.tools {
	float: left;
	display: block;
	width: 2.5em;
}

div.tools button#color {
	position: relative;
	display:block;
	margin: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: auto;
	width: 24px;
	height: 24px;
	border: 1px outset black;
}

table.palette {
	border-spacing: 0;
	padding: 0;
	margin: 0;
	border: 1px solid black;
	position: absolute;
}

table.palette tr {
	padding: 0;
	margin: 0;
}

table.palette td {
	padding: 0;
	margin: 0;
	width: 10px;
	height: 10px;
}

table.display-table {
	border-spacing: 0;
	padding: 0;
	margin: 0;
	border: 0px solid black;
}

table.display-table tr {
	padding: 0;
	margin: 0;
}

table.display-table td {
	padding: 0;
	margin: 0;
	width: 5px;
	height: 5px;
}

div.picture {
	margin: 1em;
}

div.picture h4 {
	display: block;
	border-bottom: 1px solid black;
}

div.picture img {
	display: block;
	width: 140px;
	height: 120px;
}

div.picture form input {
	display: block;
}

div.picture form textarea {
	display: block;
}

div.picture form label {
	display: block;
}

div.gallery {
	padding: 1em;
	margin: 1em;
}