
/* BASIC HTML ELEMENTS */
html {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #EDFED8;
	font-weight: bold;
}

h1 {
	display: inline;
	font-weight: lighter;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 0.5em;
}

img {
	image-rendering: pixelated;
}

input {
	display: block;
	margin: 1em;
	border-spacing: 0;
	border: 1px solid black;
	box-sizing: border-box;
}

canvas {
	border: 1px solid black;
	margin: 0;
	padding: 0;
	background-color: white;
}

/* NAV BAR */
nav {
	z-index: 999;
	right: 1em;
	top: 1em;
	background-color: #FFD1DC;
	border-radius: 6px;
	border: 1px solid black;
	position: fixed;
}

nav span {
	margin: 1em;
}

nav button {
	font-weight: bold;
	padding: 1em;
	margin: 1em;
	border: 1px solid black;
	border-radius: 6px;
	background-color: #baf0f0;
}

/* GALLERY */
table.gallery {
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	display: block;
}

table.gallery a {
	color: black;
}

table.gallery td,tr,th {
	padding: 1em;
	vertical-align:top
}

table.gallery td.comment-section {
	width: 100%;
}

table.gallery th {
	 padding: 0;
	 text-align: left;
	 border-bottom: 1px solid black;
}

table.gallery form.comment {
	margin: 1em;
	border: 1px solid black;
	display: inline-block;
	height: fit-content;
	border-spacing: 0;
	background-color: #FFD1DC;
	border-radius: 6px;
}

table.gallery div.comment {
	font-weight: normal;
	display: block;
}

table.gallery img {
	width: 140px;
	height: 120px;
	border: 10px outset peru;
}

table.gallery form textarea {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	border: 1px solid black;
	margin: 1em;
}

div.comment small {
	color: gray;
}

/* LOGIN/REGISTER FORM */
div.form-container {
	position: absolute;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 1em;
	border: 1px solid black;
	display: inline-block;
	height: fit-content;
	border-spacing: 0;
	background-color: #FFD1DC;
	border-radius: 6px;
}

div.title {
	display: block;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: #baf0f0;
	border-bottom: 1px solid black;
	margin: 0;
	padding: 1em;
}

div.title small {
	display: block;
	margin: 0;
	padding: 0;
}

div.form-container form {
	padding: 1em;
}

div.form-container form div.error {
	color: darkred;
	font-size: smaller;
	padding: 0;
	margin: 0;
}

/* EDITOR */
div.editor {
	display: inline-block;
	height: fit-content;
	padding: 1em;
	margin: 1em;
	padding-left: 0;
	border-spacing: 0;
	background-color: #FFD1DC;
	border-radius: 6px;
	border: 1px solid black;
}

div.editor img {
	position: relative;
	display:block;
	margin: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: auto;
}

form.savebox {
	position: absolute;
	border: 1px solid black;
	border-radius: 6px;
	background-color: #baf0f0;
	padding: 0.2em;
}

div.editor div.tools {
	float: left;
	display: block;
	width: 2.5em;
}

div.tools button#color {
	position: relative;
	display:block;
	margin: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: auto;
	width: 24px;
	height: 24px;
	border: 1px outset black;
}

table.palette {
	border-spacing: 0;
	padding: 0;
	margin: 0;
	border: 1px solid black;
	position: absolute;
}

table.palette tr {
	padding: 0;
	margin: 0;
}

table.palette td {
	padding: 0;
	margin: 0;
	width: 10px;
	height: 10px;
}

/* make space for the navbar */
@media only screen and (max-width: 600px) {
	table.gallery,div.form-container,div.editor {
		margin-top: 6em;
		border-spacing: 0;
		border-collapse: collapse;
	}
	table.gallery img,tr,td,th,tr.comment-section {
		padding:0;
		margin:0;
	}
	nav button {
		padding-left:  0.2em;
		padding-right: 0.2em;
		margin:   0.2em;
	}
	table.palette td {
		width: 20px;
		height: 20px;
	}
	div.editor div.tools {
		float: left;
		display: block;
		width: fit-content;
		margin-top: 0;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	div.editor img {
		width: 30px;
		height: 30px;
	}
}